<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>About us</title>
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css" href="normalize.css">
</head>


<body>

<div id ="about">
  <h3>The Iron Mikes</h3>
  <p>All work and no play makes Jack a dull boy...</p>
  <center><img src ="http://upload.wikimedia.org/wikipedia/en/thumb/b/bb/The_shining_heres_johnny.jpg/170px-The_shining_heres_johnny.jpg" ></center>
  <p> We'll stop at nothing to find the movie you're looking for..</p>
</div>

</body>
</html>
