<div id="home">
  <h4>Seek a movie! I dare you motherfucker, seek a movie!!<h4>
<a href ="/seek" > <img src="http://21.media.tumblr.com/fUVjZy40Zqntboao6eF1pOJio1_500.jpg" alt= "CLICK HERE TO SEEK MOTHERFUCKER!!!!!!! I DARE YOU! I TRIPLE DARE YOU! SAY WHAT ONE MORE GODDAMN TIME...."></a>

</div>






