<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<title>Moviez 2 Brah</title>
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css" href="normalize.css">
</head>

<body>


<div id="main-container">
<header>
  <h1>Moviez 2 Brah</h1>
      <nav>
            <ul>
              <li><a href="/home">Home</a></li>
              <li><a href="/seek">Seek</a></li>
              <li><a href="/aboutus">About Us</a></li>
            </ul>
      </nav>
</header>

<%= yield %>


<footer>
Brought to you by  |  The Iron Mikes © 2013
</footer>
</div>

</body>
</html>